/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for
   you to simply add your own. This is a basic template
   after all.
   ---------------------------------------------------------*/
    body {

    }
    /* Default link styling */
    a { color:#669; text-decoration: none; }
    a:visited { color:#558; }
    a:hover, a:focus { color:#77a; }
    a:active { color:#88b; }



/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

    .imgGithub {
      height: 1.2em;
    }

    html, body {
      height: 100%;
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
    }

    .container {
      height: 100%;
      display: flex;
    }

    .resume {
      position: relative;
      height: 100%;
      flex: 3;
      margin-left: 4em;
      margin-top: 4em;
    }

    .resume__contact {
      margin-bottom: 0.2em;
    }

    .resume__cover {
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(to bottom, rgba(255,255,255,.80), rgba(255,255,255,1));
      z-index: 1;
    }

    .resume__cover__text {
      text-align: center;
      padding-top: 4em;
      font-size: 2em;
    }

    .resume__name {
      flex: 1;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }

    .resume__name p {
      margin: 0.25em 0;
    }

    .section {
      display: flex;
      margin-bottom: 2em;
    }

    .rotate {
      font-size: 1.5em;
      transform: rotate(-90deg);
    }

    .section__label {
      width: 4em;
      background-color: #EEEEF5;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .section__main {
      padding-left: 2em;
      flex: 1;
    }

    .organization__header {
      font-size: 1.4em;
      margin: 0.5em 0;
    }

    .organization__position {
      padding-left: 1em;
      padding-right: 8em;
    }

    .organization__position__header {
      display: flex;
      justify-content: space-between;
    }

    .organization__position__title {
      font-weight: bold;
      font-size: 1em;
    }

    .organization__position__description {
      margin: 0.4em 0;
    }


/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }

    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure {
        margin-bottom:1em;
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}
